@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Monoton");

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 3px;
}

* {
  box-sizing: border-box;
}

@supports (-webkit-background-clip: text) {
  .title-2 {
    color: transparent;
    text-align: center;
    background: linear-gradient(7deg, #f5ee9e 50%, #f49e4c 0);
    font-size: 80px !important;
    -webkit-background-clip: text;
  }
}

.header {
  background-clip: text;
  background-image: linear-gradient(
    to right,
    #09f1b8,
    #00a2ff,
    #ff00d2,
    #fed90f
  );
  color: var(--color-background);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  letter-spacing: var(--letter-spacing);
  padding: calc(--stroke-width / 2);
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: var(--stroke-width);
}

body {
  min-height: 100vh;
  max-width: 1280px;
  margin: auto;
  background: #020617;
  color: #cbd5e1;
  font-family: "Sora", sans-serif;
  line-height: 1.5;
  background-image: radial-gradient(#0f172a 1px, transparent 0),
    radial-gradient(#0f172a 1px, transparent 0);
  background-position: 0 0, 25px 25px;
  background-attachment: fixed;
  background-size: 50px 50px;
  overflow-x: hidden;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 0.5rem;
  column-gap: 1.5rem;
}

.link-card {
  padding: 1rem;
  border: 0.5px solid transparent;
  transition: all ease-in-out 50ms;
  background-color: #94a3b817;
}

.link-card:hover {
  border: 0.5px solid #1e293b;
  border-radius: 8px;
}

.link-description {
  font-size: 0.875rem;
  font-weight: 200;
  margin-top: 0.5rem;
  color: #94a3b8;
}

@media screen and (min-width: 720px) {
  main {
    flex-direction: row;
  }

  footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}

.items-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
}

img {
  margin: 5px;
}

.skills-container {
  border: 0.5px solid transparent;
  transition: all ease-in-out 50ms;
  background-color: #94a3b817;
  padding: 10px;

  flex-wrap: wrap;
}

.skills-container .items-center {
  padding-right: 10px;
  margin-right: 10px;
}

.parent-container .items-center:last-child {
  padding-right: 0;
  margin-right: 0;
}

.pt1 {
  border-radius: 8px;
  background: -moz-radial-gradient(
      0% 2%,
      circle,
      rgba(96, 16, 48, 0) 9px,
      #661133 10px,
      rgba(96, 16, 48, 0) 11px
    ),
    -moz-radial-gradient(100% 100%, rgba(96, 16, 48, 0) 9px, #661133 10px, rgba(
            96,
            16,
            48,
            0
          )
          11px),
    none;
  background: -webkit-radial-gradient(
      0% 2%,
      circle,
      rgba(96, 16, 48, 0) 9px,
      #661133 10px,
      rgba(96, 16, 48, 0) 11px
    ),
    -webkit-radial-gradient(100% 100%, rgba(96, 16, 48, 0) 9px, #661133 10px, rgba(
            96,
            16,
            48,
            0
          )
          11px),
    none;
  background: -ms-radial-gradient(
      0% 2%,
      circle,
      rgba(96, 16, 48, 0) 9px,
      #661133 10px,
      rgba(96, 16, 48, 0) 11px
    ),
    -ms-radial-gradient(100% 100%, rgba(96, 16, 48, 0) 9px, #661133 10px, rgba(
            96,
            16,
            48,
            0
          )
          11px),
    none;
  background: -o-radial-gradient(
      0% 2%,
      circle,
      rgba(96, 16, 48, 0) 9px,
      #661133 10px,
      rgba(96, 16, 48, 0) 11px
    ),
    -o-radial-gradient(100% 100%, rgba(96, 16, 48, 0) 9px, #661133 10px, rgba(
            96,
            16,
            48,
            0
          )
          11px),
    none;
  background: radial-gradient(
      0% 2%,
      circle,
      rgba(96, 16, 48, 0) 9px,
      #661133 10px,
      rgba(96, 16, 48, 0) 11px
    ),
    radial-gradient(
      100% 100%,
      rgba(96, 16, 48, 0) 9px,
      #661133 10px,
      rgba(96, 16, 48, 0) 11px
    ),
    none;
  background-size: 20px 20px;
}

.header-container {
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.role {
  font-size: 24px;
}

@media screen and (max-width: 480px) {
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-size: 20px;
  }

  .role {
    font-size: 14px;
  }

  .pt1 {
    width: 100%;
    margin: 10px;
  }

  .title-2 {
    font-size: 36px !important;
  }
}

.context {
  width: 100%;
  position: absolute;
  top: 50vh;
}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1000;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
  margin: 15px;
}

.button-30:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}
